.movie-detail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.movie-detail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar la legibilidad */
  z-index: 1;
}

.movie-detail-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px; /* Reducir el padding */
  border-radius: 10px; /* Reducir el radio del borde */
  max-width: 500px; /* Reducir el ancho máximo */
  text-align: center;
  z-index: 2;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

.movie-detail-content h1 {
  font-size: 2.5em; /* Reducir el tamaño de la fuente */
  margin-bottom: 15px; /* Reducir el margen inferior */
  font-weight: 700;
  color: #ffdd57; /* Color dorado para el título */
  text-transform: uppercase;
  letter-spacing: 1px; /* Reducir el espaciado entre letras */
}

.movie-detail-content p {
  font-size: 1em; /* Reducir el tamaño de la fuente */
  margin-bottom: 10px; /* Reducir el margen inferior */
  line-height: 1.4; /* Ajustar el interlineado */
  color: #f0f0f0;
}

.movie-detail-content p strong {
  color: #ffdd57; /* Color dorado para resaltar detalles */
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Botones */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Reducir el espacio entre botones */
  margin-top: 15px; /* Reducir el margen superior */
}

.button-group button {
  padding: 8px 16px; /* Reducir el padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9em; /* Reducir el tamaño de la fuente */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-group button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button-group button:active {
  transform: translateY(0);
}

.button-group button.delete-button {
  background-color: #dc3545; /* Rojo para el botón de eliminar */
}

.button-group button.delete-button:hover {
  background-color: #c82333;
}

.button-group button.update-button {
  background-color: #28a745; /* Verde para el botón de actualizar */
}

.button-group button.update-button:hover {
  background-color: #218838;
}